<!-- <section id="gallery" class="introduction scrollto text-center">
	<div class="row clearfix">
		<aside id="gallery" class="row text-center scrollto clearfix">
			<div *ngFor="let image of images$ | async; let i = index">
				<app-image-block [image]="image"></app-image-block>
			</div>
		</aside>
	</div>
</section> -->
<div id="gallery" class="background-container introduction scrollto">
	<div class="contact-form-container ">
		<form (ngSubmit)="submitForm()">
			<h1>Request A Call Back</h1>
			<h2>Contact Us</h2>
			<div class="form-group">
				<label for="name">Full Name:</label>
				<input
					type="text"
					id="name"
					name="name"
					[(ngModel)]="formData.name"
					required />
			</div>
			<div class="form-group">
				<label for="number">Phone:</label>
				<input
					type="text"
					name="number"
					[(ngModel)]="formData.number"
					required />
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input
					type="email"
					id="email"
					name="email"
					[(ngModel)]="formData.email"
					required />
			</div>
			<div class="form-group">
				<label for="message">Message:</label>
				<textarea
					id="message"
					name="message"
					[(ngModel)]="formData.message"
					required></textarea>
			</div>
			<div class="">
				<button type="submit" class="pill-button w-100">Submit</button>
				<!-- <button type="submit d-flex justify-content-center">Submit</button> -->
			</div>
			<div class="map_img-box">
				<img src="../../../assets/images/map-img.png" alt="map image" />
			</div>
		</form>
	</div>
</div>
